*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;

}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* background: url('bg4.avif')no-repeat; */
    background-color: rgb(59, 57, 57);
    background-position: center;
    background-size: cover;
    /* filter: blur(40px); */
}
.form-box{
    position: relative;
    width: 400px;
    height: 540px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5) !important ;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
     
}
h2{
    font-size: 2em;
    color: white;
    text-align: center;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: lem;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top:-5px;
}

.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    font-size: lem;
    padding: 0 35px 0 5px;
    color: white;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: white;
    font-size: 1.2em;
    top: 20px;
}
.forget{
    margin:-15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;
}
.forget label input{
    margin-right: 3px;
}
.forget label a{
    color: white;
    text-decoration: unde;

}
.forget label a:hover{
    text-decoration: underline;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: lem;
    font-weight: 600;
}
.register{
    font-size: .9em;
    color: white;
    text-align: center;
    margin: 25px 0 10px;

}
.register p a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}
/*VAO ROOM*/
.room {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #000000;
    border-radius: 20px;
    z-index: 9;

    
  }
  
  /* Thêm style cho form */
  .form-container {
    max-width: 500px;
    padding: 30px;
    border: 2px solid rgba(255,255,255,0.5) !important ;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    background-color: white;
  }
  
  
  /* Sthiết lập style cho nút trong form*/
  .form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Thiết lập màu nền cho nút đóng chatbox */
  .form-container .nut-dong-chatbox {
    background-color: red;
  }
  
  /* Thêm hiệu ứng hover cho nút*/
  .form-container .btn:hover, .nut-mo-chatbox:hover {
    opacity: 1;
  }
  .inputboxs{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid white;
}
.inputboxs label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: lem;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
    top:-5px;
}

.inputboxs input{
    width: 100%;
    height: 50px;
    background: transparent;
    outline: none;
    border: none;
    font-size: lem;
    padding: 0 35px 0 5px;
    color: rgb(10, 10, 10);
}
.inputboxs ion-icon{
    position: absolute;
    right: 8px;
    color: rgb(10, 10, 10);
    font-size: 1.2em;
    top: 20px;
}